<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Db Read | Me-sida</title>
    <link rel="stylesheet" href="../../less/style.less" />
</head>

<body>
    <nav class="navbar">
        <img class="mungeimg" src="../../images/munge.png" />
        <ul>
            <li><a href="../index.html">Start</a></li>
            <li><a href="./about.html">Om</a></li>
            <li><a href="../report.html">Redovisningar</a></li>
            <li><a href="../chat.html">Chat</a></li>
            <li><a href="../app.html">App</a></li>
            <li><a href="read.html">Database</a></li>
        </ul>
    </nav>
    <div class="content">
        <a href="insert.html">Create new entry</a>
        <div class="dbContent" id="dbContent">
        </div>
    </div>
    <script src="../../js/crud/read.js" charset="utf-8"></script>
</body>

</html>
