<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Om | Me-sida</title>
    <link rel="stylesheet" href="../less/style.less" />
</head>

<body>
    <nav class="navbar">
        <img class="mungeimg" src="../images/munge.png" />
        <ul>
            <li><a href="index.html">Start</a></li>
            <li><a href="about.html">Om</a></li>
            <li><a href="report.html">Redovisningar</a></li>
            <li><a href="chat.html">Chat</a></li>
            <li><a href="app.html">App</a></li>
            <li><a href="crud/read.html">Database</a></li>
        </ul>
    </nav>



    <div class="content">
        <h1>Om | Me-sida</h1>
        <div class="aboutContent">
            <div class="aboutText">
                <p>Denna webbsidan är en del av kursen ramverk2 som lärs ut på BTH. All kod till webbsidan finns på min github som du hittar med hjälp av denna länk: <a href="https://github.com/MagnusGreiff/Ramverk2-Redovisning">Github</a>.</p>
            </div>
            <div class="images">
                <img class="aboutImage" src="../images/node.png" alt="Bild på node" />
                <img class="aboutImage" src="../images/less.png" alt="Bild på less" />
                <img class="aboutImage" src="../images/express.png" alt="Bild på express" />
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footerItems">
            <p class="copyRight">&copy;Magnus Greiff</p>
            <p class="repoGithub">Github repo: <a href="https://www.github.com/MagnusGreiff/Ramverk2-Redovisning">Github</a></p>
        </div>
    </footer>

    <!-- <script>
        // You can also require other files to run in this process
        require('./renderer.js')
    </script> -->
</body>

</html>
