<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App | Me-sida</title>
    <link rel="stylesheet" href="../less/style.less" />
</head>

<body>
    <nav class="navbar">
        <img class="mungeimg" src="../images/munge.png" />
        <ul>
            <li><a href="index.html">Start</a></li>
            <li><a href="about.html">Om</a></li>
            <li><a href="report.html">Redovisningar</a></li>
            <li><a href="chat.html">Chat</a></li>
            <li><a href="app.html">App</a></li>
            <li><a href="crud/read.html">Database</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Electron-app med express-server</h1>
        <p>Applikationen går ut på att man ska kunna chatta med andra människor. Jag ska koppla api:er till chatten och man ska kunna skriva vissa kommandon så ska saker hända. Ett exempel på att man ska kunna skriva [post]188[/post] så hämtas det information
            från stackoverflow om den post som har id:t 188.</p>
        <br />
        <p>
            Jag använder följande tekniker: Electron och express. Jag har delat upp min kod i olika mappar. En för servern och en för klienten.
        </p>
        <br />
        <p>
            För att testa min applikation behöver du både servern och klienten. Du börjar med att starta servern och sedan klienten. All information om hur man får tag på koden samt installations guide finns på respektive github. Länkar finns nedan.
            <br />
            <a href="https://github.com/MagnusGreiff/Ramverk2-Server" target="_blank">Server</a>
            <br />
            <a href="https://github.com/MagnusGreiff/Ramverk2-Client" target="_blank">Klient</a>
        </p>
        <h1>Realtid</h1>
        <p>
            Jag kommer att implentera realtid genom att bygga en chatt. Min applikation är en chatt där jag kommer att länka olika api:er så där kommer realtid också in.
        </p>
        <h1>Databas</h1>
        <p>
            Jag kommer att spara alla meddelande som skickas i en databas och kommer sedan att hämta och visa alla meddelande när man connectar till chatten. Jag ska också försöka göra så att man kan logga in då kommer jag spara informationen i en databas.
        </p>
        <h1>Modul:</h1>
        <p>
            Jag valde att ta vissa av mina chatt funktioner och lägga dem i en egen liten modul som jag sedan importerar och använder. Modulen kommer jag att fylla på med fler funktioner när jag väl behöver. Det finns inte jättemycket att säga om modulen just nu.
            För tillfället innehåller den bara 3 funktioner som man kan använda sig av.
        </p>

        <p>Länk till modulen: <a href="https://www.npmjs.com/package/chat-functions" target="_blank">Klicka här</a></p>
    </div>
</body>

</html>
