<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Start | Me-sida</title>
    <link rel="stylesheet" href="../less/style.less" />
</head>

<body>
    <nav class="navbar">
        <img class="mungeimg" src="../images/munge.png" />
        <ul>
            <li><a href="index.html">Start</a></li>
            <li><a href="about.html">Om</a></li>
            <li><a href="report.html">Redovisningar</a></li>
            <li><a href="chat.html">Chat</a></li>
            <li><a href="app.html">App</a></li>
            <li><a href="crud/read.html">Database</a></li>
        </ul>
    </nav>
    <div class="content">

        <h1>Start | Me-sida</h1>
        <div class="startWrapper">
            <div class="startText">
                <p>Hej, jag heter Magnus Greiff och kommer ursprungligen från Höör, Skåne där jag har bott i 19år. Just nu bor jag i Jämjö utanför Karlskrona.</p>

                <p>Innan jag kom till BTH gick jag Teknikprogrammet i Lund på NTI Gymnasiet. Under min tid på NTI fick jag lära mig programmera i Java, C# och lite PHP och C++. Utöver det fick jag också erfarenhet med HTML, CSS och lite Javascript(jQuery)
                    </p>

                <p>Det jag gör mest på min fritid är att sitta hemma vid datorn. Jag brukar mest kolla på video på youtube och sitta och spela. De två spel som jag spelar mest är CS:GO och WoW.</p>

                <p>Något jag verkligen tycker om är att vara ute i naturen och bara gå rundor och kolla på allt som finns. Det händer inte så ofta att jag är ute men när det väl händer så känns det jättebra.</p>
            </div>
            <img class="startImage" src="../images/munge.jpg" alt="Bild på Magnus Greiff" />
        </div>
    </div>
    <footer class="footer">
        <div class="footerItems">
            <p class="copyRight">&copy;Magnus Greiff</p>
            <p class="repoGithub">Github repo: <a href="https://www.github.com/MagnusGreiff/Ramverk2-Redovisning">Github</a></p>
        </div>
    </footer>

    <!-- <script>
        // You can also require other files to run in this process
        require('./renderer.js')
    </script> -->
</body>

</html>
